# `pandas`: work with tabular data

In [1]:
import pandas as pd

## Load data

`pandas` will read tabular data from many formats:

- `pd.read_csv()`
- `pd.read_excel()`
- `pd.read_sql()`
- [plus many more](https://pandas.pydata.org/docs/reference/io.html)


The CSV and Excel read functions will accept both a filepath and a URL to a file. For this example we'll use Philly's 2019 Proposed Operating Budget from [OpenDataPhilly](https://www.opendataphilly.org/dataset/citybudget):

https://phl.carto.com/api/v2/sql?q=select+*+from+%20operating_budget_fy_2019_proposed&format=csv&filename=operating_budget_fy_2019_proposed&skipfields=cartodb_id,the_geom,the_geom_webmercator

By convention, a `pandas.DataFrame` is usually stored in a variable named `df`. However, if your Python code uses multiple dataframes at once you'll need to find a more distinct naming convention to use.

In [2]:
url = "https://phl.carto.com/api/v2/sql?q=select+*+from+%20operating_budget_fy_2019_proposed&format=csv&filename=operating_budget_fy_2019_proposed&skipfields=cartodb_id,the_geom,the_geom_webmercator"

df = pd.read_csv(url)

 The `df` variable can now do [anything a `pandas.DataFrame` can do](https://pandas.pydata.org/docs/reference/frame.html). 
 
 `df.head()` and `df.tail()` show the first and last 5 rows of data, respectively.

In [3]:
df.head()

,fiscal_year,fund,department,class_id,class,total
0,2019,Grants Revenue Fund,Revenue,200,Purchase of Services,26425000
1,2019,General Fund,City Council,100,Personal Services,14824858
2,2019,General Fund,City Council,200,Purchase of Services,1971885
3,2019,General Fund,City Council,300,"Materials, Supplies & Equipment",528650
4,2019,General Fund,City Council,500,"Contributions, Indemnities, Refunds, Taxes",100

In [4]:
df.tail()

,fiscal_year,fund,department,class_id,class,total
352,2019,Acute Care Hospital Fund,Public Health,200,Purchase of Services,149000000
353,2019,Acute Care Hospital Fund,Finance,100,Personal Services,75000
354,2019,Acute Care Hospital Fund,Finance - Employee Benefits,100,Personal Services,267592
355,2019,Acute Care Hospital Fund,Revenue,100,Personal Services,30000
356,2019,Acute Care Hospital Fund,Revenue,300,"Materials, Supplies & Equipment",15000

## Filter data

Let's see all rows where `department` = `"Office of Behavioral Health and Intellectual Disabilities"`

In [5]:
dept = "Office of Behavioral Health and Intellectual Disabilities"
dept = "Police"

df[df["department"] == dept]

,fiscal_year,fund,department,class_id,class,total
51,2019,General Fund,Police,100,Personal Services,688759185
52,2019,General Fund,Police,200,Purchase of Services,7462807
53,2019,General Fund,Police,300,"Materials, Supplies & Equipment",13270952
110,2019,Aviation Fund,Police,100,Personal Services,16961237
247,2019,Grants Revenue Fund,Police,100,Personal Services,3861903
248,2019,Grants Revenue Fund,Police,100,Personal Services,384114
249,2019,Grants Revenue Fund,Police,200,Purchase of Services,4356842
250,2019,Grants Revenue Fund,Police,300,"Materials, Supplies & Equipment",7143170
310,2019,Aviation Fund,Police,200,Purchase of Services,77500
311,2019,Aviation Fund,Police,300,"Materials, Supplies & Equipment",93000

In [6]:
department_summary = df[["total", "department"]].groupby("department").agg(["sum", "count"]).sort_values([("total", "sum")], ascending=False)

In [7]:
for idx, row in department_summary.iterrows():
    val = "${:,.2f}".format(row[("total", "sum")])
    print(idx, "\n\t-->", val)

Office of Behavioral Health and Intellectual Disabilities
	--> $1,586,247,349.00
Finance - Employee Benefits
	--> $1,560,155,620.00
Human Services
	--> $816,248,573.00
Police
	--> $742,370,710.00
Sinking Fund Commission (Debt Service)
	--> $678,826,776.00
Public Health
	--> $473,058,581.00
Water
	--> $456,785,912.00
Finance
	--> $342,233,234.00
Commerce
	--> $298,834,276.00
Fire
	--> $287,192,921.00
Prisons
	--> $256,371,806.00
Streets
	--> $209,648,270.00
Office of Innovation and Technology
	--> $183,087,392.00
Finance - School District Contribution
	--> $176,164,367.00
Mayor - Planning and Development
	--> $170,235,068.00
First Judicial District
	--> $161,682,644.00
Public Property
	--> $146,472,164.00
Managing Director's Office
	--> $103,256,075.00
Public Property - SEPTA Subsidy
	--> $84,776,000.00
Fleet Management
	--> $81,081,471.00
Parks and Recreation
	--> $78,926,723.00
Revenue
	--> $73,842,041.00
Finance - Indemnities
	--> $56,792,000.00
District Attorney
	--> $55,044,322.00
Free Library
	--> $49,900,320.00
Licenses and Inspections
	--> $38,022,694.00
Finance - Community College Subsidy
	--> $31,909,207.00
Civil Service Commission
	--> $30,198,056.00
Mayor - Office of Education
	--> $24,751,312.00
Sheriff
	--> $24,482,339.00
Law
	--> $20,691,370.00
Mayor's Office of Community Empowerment and Opportunity
	--> $19,135,224.00
City Council
	--> $17,325,693.00
Commerce - Convention Center Subsidy
	--> $15,000,000.00
Office of Property Assessment
	--> $14,616,425.00
City Commissioners
	--> $10,890,170.00
Board of Pensions
	--> $10,562,000.00
Auditing
	--> $9,093,008.00
Office of Human Resources
	--> $6,343,869.00
Mayor - Office of the CAO
	--> $6,271,636.00
Mayor's Office
	--> $6,093,353.00
Procurement
	--> $5,034,535.00
Records
	--> $4,768,507.00
Register of Wills
	--> $4,440,393.00
Office of Arts and Culture
	--> $4,172,855.00
Finance - Regulation 32 Payroll
	--> $2,650,000.00
Art Museum
	--> $2,550,000.00
Commerce - Economic Stimulus
	--> $2,397,004.00
Human Relations Commission
	--> $2,202,336.00
Mural Arts Program
	--> $1,959,016.00
City Treasurer
	--> $1,692,315.00
Office of the Inspector General
	--> $1,636,311.00
Labor Relations
	--> $1,590,946.00
Office of Sustainability
	--> $1,355,747.00
City Representative
	--> $1,158,249.00
Board of Ethics
	--> $1,074,792.00
Board of Revision of Taxes
	--> $1,026,903.00
Atwater Kent Museum
	--> $298,163.00
Finance - Refunds
	--> $250,000.00
City Council - Veterans Advisory Commission
	--> $205,300.00
Mayor's Office - Scholarships
	--> $200,000.00
L&I  - Board of L&I Review
	--> $172,720.00
Finance - Witness Fees
	--> $171,518.00
L&I  - Board of Building Standards
	--> $75,419.00
Finance - Hero Scholarship Awards
	--> $25,000.00